{% extends 'base.html' %}

{% block title %}Hitmens{%endblock%}

{% block content %}
<div class="p-3">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Title</th>
            <th scope="col">Is Active</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for hitmen in object_list %}
          <tr>
            <td>{{ hitmen.id }}</td>
            <td>{{ hitmen.user.email }}</td>
            <td>{{ hitmen.user.username }}</td>
            <td>{{ hitmen.title }}</td>
            <td>{{ hitmen.user.is_active }}</td>
            <td><a href="{% url 'hitmens:hitmen_details' pk=hitmen.pk %}">Details</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}